* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: black;

  font-family: "Kumbh Sans", sans-serif;
}

.section_one {
  max-width: 900px;

  margin: 0 auto;

  background-color: black;

  color: white;

  font-family: "Kumbh Sans", sans-serif;

  /* font-size: 17px; */

  font-size: clamp(0.625rem, 0.125rem + 2.5vw, 1.0625rem);

  /* font-size: clamp(0.75rem, 0.2292rem + 2.2222vw, 1.0625rem); */
}

.take_two {
  text-align: center;

  font-family: "Kumbh Sans", sans-serif;

  font-size: clamp(0.5rem, 0rem + 1.3333vw, 0.75rem);

  padding: 6% 2% 6% 2%;
}

.weekly_gif_div {
  width: 75%;

  margin: 0 auto;

  height: auto;

  /* border: 1px solid red; */
}

.gif {
  width: 100%;

  /* height: auto; */
}

.Alpha__logocontainer {
  /* border: 1px solid rebeccapurple; */

  display: flex;

  margin: 0.5rem 0rem;

  justify-content: center;
}

.Alpha__logosvg {
  width: 15%;
}

.presents {
  font-family: "Kumbh Sans", sans-serif;

  text-align: center;

  font-size: 14px;
}

.hottakes {
  font-family: "Codystar", sans-serif;

  margin-top: 3rem;

  text-align: center;

  font-size: 2rem;
}

.creative_agency {
  text-align: center;

  font-size: clamp(0.9375rem, 0.5804rem + 1.7857vw, 1.25rem);

  font-family: "Kumbh Sans", sans-serif;
}

.creative_agency--from {
  font-weight: 300;
}

.creative_agency--from + p {
  font-weight: 400;
}

.arrow_down {
  text-align: center;

  margin-top: 3rem;

  /* border: 1px solid red; */
}

.arrow_image {
  width: 3.5%;
}

.third_sec {
  margin: 0 18%;

  margin-top: 2rem;

  /* border: 1px solid blue; */
}

.firstPara {
  /* font-family: "Kumbh Sans", sans-serif; */
}

.second_para {
  /* font-family: "Kumbh Sans", sans-serif; */

  margin-top: 3rem;

  text-align: right;
}

.firstPara,
.second_para,
.eye,
.section_one--content,
.timeline_content,
.timeline_content.second,
.inline_footer {
  font-weight: 200;
}

.eye {
  margin-top: 5rem;

  text-align: center;
}

.eyeIcon_div {
  margin-top: 1rem;

  margin-bottom: 1rem;
}

.eye_icon {
  width: 8.7%;
}

.arrow {
  width: 6%;
}

.the_signal {
  font-family: "Codystar", sans-serif;

  margin-top: 5rem;

  text-align: right;

  font-size: clamp(3rem, 0.7143rem + 11.4286vw, 5rem);
}

.secforr_heading {
  margin-top: 5rem;

  font-size: clamp(1.9375rem, 0.3804rem + 7.7857vw, 3.3rem);

  margin-left: 5%;

  /* position: relative; */
}

.secforr_heading.two {
  font-size: clamp(1.9375rem, 0.3804rem + 7.7857vw, 3.3rem);

  margin-left: 5%;

  margin-top: 0;

  /* position: relative; */
}

.timeline {
  /* position: relative; */

  overflow: hidden;

  /* border: .1px solid grey; */
}

.timeline_content {
  margin-left: 3rem;

  margin-top: 2rem;

  padding-left: 2rem;

  overflow: hidden;

  /* position: relative; */
}

/* .devider {

  border: 0.1px dotted #ffffff;

  width: 11rem;

  margin: 0 auto;

  margin-top: 4rem;

} */

.devider {
  width: 11rem;

  margin: 7rem auto 7rem auto;

  height: 1px;

  border: none;

  background-image: linear-gradient(to right, white 50%, transparent 50%);

  background-size: 6px 100%;

  /* background-repeat: repeat-x; */
}

.timeline.second {
  position: relative;
}

.badminton_div {
  margin-top: 5rem;

  width: 65%;

  margin-left: -1%;

  /* border: 1px solid rgb(5, 165, 214); */
}

.badminton_gif {
  width: 100%;
}

.microstory_div {
  /* margin-left: 0.5rem; */
}

.microstory_title {
  font-weight: 500;

  position: relative;

  margin-top: 0.2rem;
}

/* HORIZONTAL LINE */

.microstory_title::before {
  content: "";

  position: absolute;

  left: -1.7rem;

  top: 50%;

  width: 0.7rem;

  height: 1px;

  border: none;

  background-image: linear-gradient(to right, white 50%, transparent 50%);

  background-size: 4px 100%;
}

/* VERTICAL LINE (Micro Story) */

.microstory_title.last::after {
  content: "";

  position: absolute;

  left: -1.7rem;

  width: 1px;

  border: none;

  background-image: linear-gradient(to bottom, white 50%, transparent 50%);

  background-size: 100% 4px;

  height: 140rem;

  bottom: calc(100% - 0.6rem);
}

.micro_content {
  margin-top: 1rem;

  display: block;
}

.ticket {
  width: 65%;

  margin-left: -1%;

  margin-top: 5rem;
}

.ticket_img {
  width: 100%;
}

.Sensory {
  /* margin-left: .5rem; */

  /* position: relative; */
}

.Sensorytitle {
  font-weight: 500;

  position: relative;

  margin-top: 0.2rem;
}

.sensory_content {
  padding-top: 1rem;
}

.Sensorytitle::after {
  content: "";

  position: absolute;

  left: -1.7rem;

  top: 40%;

  width: 0.7rem;

  height: 1px;

  border: none;

  background-image: linear-gradient(to right, white 50%, transparent 50%);

  background-size: 4px 100%;
}

.Sensorytitle::before {
  content: "";

  position: absolute;

  left: -1.7rem;

  width: 1px;

  border: none;

  background-image: linear-gradient(to bottom, white 50%, transparent 50%);

  background-size: 100% 4px;

  height: 2000px;

  bottom: calc(100% - 0.5rem);
}

.micro_content.dishes {
  /* width: 20rem; */

  width: 65%;
}

.dishes_img {
  width: 100%;
}

.microstory_div.dishes {
  margin-top: 5rem;
}

.microstory_div.dishes.collage {
  margin-top: 5rem;
}

.fourth_sec.last {
  margin-top: 3rem;
}

.listItems {
  /* margin-left: 1.3rem; */

  list-style: none;

  /* position: relative; */
}

/* li::marker {

  font-size: 0.3em;

} */

.listItems {
  padding-left: 1.5rem;
}

.listItems li {
  position: relative;

  padding-left: 0rem;

  list-style-type: disc;
}

.listItems li::before {
  /* content: "";

  position: absolute;

  border-radius: 50%;

  height: 0.125rem;

  width: 0.125rem;

  top: 0.5rem;

  left: 0.75rem;

  background-color: white; */
}

.third_timeline {
  position: relative;
}

.third_timeline_content_div {
  margin-top: 2rem;
  font-weight: 200;
}

.textvisual_image_header {
  font-weight: 500;

  margin-top: 2rem;
}

.textimage_container {
  width: 85%;

  margin-top: 2rem;

  position: relative;
}

.third_timeline_content {
  overflow: hidden;

  padding-left: 2rem;

  margin-left: 3rem;

  margin-top: 2rem;

  /* margin-top: 2rem; */

  /* padding-top: 5px; */
}

.textimage_container::before {
  content: "";

  position: absolute;

  left: -1.7rem;

  top: 1.5rem;

  width: 0.7rem;

  height: 1px;

  border: none;

  background-image: linear-gradient(to right, white 50%, transparent 50%);

  background-size: 4px 100%;
}

.textimage_container::after {
  content: "";

  position: absolute;

  left: -1.7rem;

  bottom: calc(100% - 1.5rem);

  height: 330px;

  width: 1px;

  border: none;

  background-image: linear-gradient(to bottom, white 50%, transparent 50%);

  background-size: 100% 4px;
}

.visual_image {
  width: 100%;
}

.footer_heading {
  margin-top: 7rem;

  margin-left: 5%;

  /* border: 1px solid rgb(192, 119, 119); */
}

.inline_footer {
  width: fit-content;

  position: relative;

  bottom: 6px;

  font-size: clamp(0.5625rem, -0.0089rem + 2.8571vw, 1.0625rem);
}

.footer_heading_content {
  font-size: clamp(1.9375rem, 0.3804rem + 7.7857vw, 3.3rem);
}

.footer_heading_content.p {
  display: inline;

  /* border: 1px solid rebeccapurple; */
}

.footer_flex {
  display: flex;

  gap: 13px;

  align-items: flex-end;
}

.footer {
  background-color: #d9d9d9;

  max-width: 100%;

  font-size: clamp(0.625rem, 0.125rem + 2.5vw, 1.0625rem);

  margin-top: 7rem;
}

.insta {
  width: 1.3rem;

  /* width: 11.4%; */

  /* display: inline-block; */
}

.insta_image {
  width: 100%;

  align-items: center;

  display: flex;
}

.alpha {
  color: black;

  text-decoration: none;

  font-weight: bolder;
}

.insta_flex {
  display: flex;

  align-items: center;

  gap: 0.5rem;

  min-width: 0;
}

.main_footer_flex {
  display: flex;
}

.footer_grid {
  display: grid;

  color: black;

  padding: 0.8rem 0rem;

  column-gap: 1.5rem;

  /* grid-template-columns: 1fr 0.1fr 1fr; */

  grid-template-columns: auto auto auto;

  justify-content: center;

  align-items: center;

  /* font-size: clamp(0.625rem, 0.125rem + 2.5vw, 1.0625rem); */
}

@media (min-width: 600px) {
  .section_one {
    font-size: clamp(1.0625rem, 0.0625rem + 2.6667vw, 1.5625rem);
  }

  .hottakes {
    font-size: clamp(2rem, 0rem + 5.3333vw, 3rem);
  }

  .creative_agency {
    font-size: clamp(1.25rem, 0rem + 3.3333vw, 1.875rem);
  }

  .the_signal {
    font-size: clamp(5rem, 1rem + 10.6667vw, 7rem);
  }

  .secforr_heading {
    font-size: clamp(3.3rem, -0.1rem + 9.0667vw, 5rem);
  }

  .timeline_content {
    padding-left: clamp(3rem, 16vw - 3rem, 6rem);
  }

  .Sensorytitle::before {
    /* content: "";

    position: absolute; */

    left: -2.7rem;

    bottom: calc(100% - 1rem);

    background-size: 100% 5px;
  }

  .Sensorytitle::after {
    content: "";

    position: absolute;

    top: 50%;

    left: -2.7rem;
  }

  .microstory_title::before {
    content: "";

    top: 50%;

    position: absolute;

    left: -2.7rem;
  }

  .microstory_title.last::after {
    content: "";

    position: absolute;

    left: -2.7rem;

    background-size: 100% 5px;

    bottom: calc(100% - 0.89rem);
  }

  .textimage_container::after {
    left: -2.7rem;
  }

  .textimage_container::before {
    left: -2.7rem;
  }

  .third_timeline_content {
    padding-left: 6.2rem;
  }

  .secforr_heading.two {
    font-size: clamp(3.3rem, -0.1rem + 9.0667vw, 5rem);
  }

  .footer_heading_content {
    font-size: clamp(3.3rem, -0.1rem + 9.0667vw, 5rem);
  }

  .inline_footer {
    font-size: clamp(1.0625rem, 0.6875rem + 1vw, 1.25rem);

    bottom: 15px;
  }

  .insta {
    width: clamp(1.3rem, -0.7rem + 5.33vw, 2.3rem);
  }

  .Alpha__logosvg {
    width: 13%; 
  }

  .footer {
    font-size: clamp(1.0625rem, 0.4375rem + 1.6667vw, 1.375rem);
  }

  .microstory_title {
    margin-top: 0.5rem;
  }

  .Sensorytitle {
    margin-top: 0.5rem;
  }

  .devider {
    width: clamp(11rem, 5rem + 16vw, 15rem);
  }
}

@media (max-width: 1024px) {
  .badminton_div,
  .ticket,
  .microstory_div.dishes,
  .microstory_div.dishes.collage {
    margin-top: 3rem;
  }

  .devider {
    margin: 5rem auto 5rem auto;
  }

  .footer_heading {
    margin-top: 5rem;
  }

  .footer {
    margin-top: 5rem;
  }

  .third_timeline_content_div {
    margin-top: 1rem;
  }
}
